<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">New OTP</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p> Hello, Max! </p>
        <p>
            FullName: <b th:text="${fullname}" > </b> <br>
            Hi/She is a: <b th:text="${type}"> </b> <br>
            Comment: <b th:text="${comment}"> </b>
        </p>
        <p>
            Regards, <br />
            &emsp; <em>Surgiconn Team</em>
        </p>
    </body>
</html>